.countryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.Card-img {
    height: 100px;
    width: 100px;
    object-fit: cover; 
    margin-top: 20px;
}

.searchInput {
    padding: 10px;
    width: 750px;
    margin: 20px auto;  
    border-radius: 5px;
    border: 1px solid #ccc;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.noResults {
    text-align: center;
    font-size: 18px;
    color: #888;
    padding: 20px;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 10px;
}