.countryCard { /* Changed from .Card to .countryCard */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.NoResults {
    text-align: center;
    font-size: 18px;
    color: #888;
    padding: 20px;
}

.SearchInput {
    padding: 10px;
    width: 750px;
    margin: 20px 20px 20px 290px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Card-img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

.Countries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
